<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-0 col-md-4">
          <h3 style="color:white;margin:0 auto;">Tournament List </h3>
         
          <br>
          <table class="table table-bordered table-striped table-hover">
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Description</th>
              <th class="text-center">Owner</th>
              <th class="text-center">Completed</th>
               <th class="text-center">View</th>

            </tr>
            <!-- Template Row -->
            <% for (let count = 0; count < tournaments.length; count++) { %>
            <tr>
             
              <td class="text-center"><%= tournaments[count].name %></td>
              <td class="text-center"><%= tournaments[count].description %></td>
              <td class="text-center"><%= tournaments[count].displayname %></td>
               <td class="text-center"><%= tournaments[count].completed %></td>

              <td class="text-center">
              <a href="/rounds/<%=tournaments[count]._id%>" class="btn btn-primary">
              <i class="fa fa-pencil-square-o"></i> View</a>
               </td>
</tr>
            <% } %>
          </table>
           
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>