<% include ../partials/header.ejs %>
<% var matchno=1; var pname1,pname2;var roundno=2; var bout=1  %>
<% for(let count=0;count<rounds.length;count++){ %>
 <% if(pid==rounds[count].tid && rounds[count].roundno==2 && rounds[count].matchno<3 && rounds[count].winner==""){ %>

<div>Round Number:<%=rounds[count].roundno%></div>
<div>Match Number:<%=rounds[count].matchno%></div>
<form class="form" method="post">
<input type="hidden" name="roundno" value="<%=rounds[count].roundno%>">
<input type="hidden" name="matchno" value="<%=rounds[count].matchno%>">
<input type="hidden" name="pname1" value="<%=rounds[count].pname1%>">
<input type="hidden" name="pname2" value="<%=rounds[count].pname2%>">
<input type="hidden" name="rid" value="<%=rounds[count]._id %>">
<input type="hidden" name="p1" value="">
<input type="hidden" name="p2" value="">
<input type="hidden" name="fid" value="<%=rounds[count].tid%>">
  <input type="radio" name="winner" value="<%=rounds[count].pname1%>" checked><%=rounds[count].pname1%> <br>
  <input type="radio" name="winner" value="<%=rounds[count].pname2%>" checked><%=rounds[count].pname2%> <br>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<% }} %>
<% var winner=[];%>
<% for(let count=0;count<rounds.length;count++){ %>
 <% if(pid==rounds[count].tid && rounds[count].roundno==2 && rounds[count].matchno<3 ){ %>
 <% let temp = rounds[count].matchno - 1;%>
 <% winner[temp]= rounds[count].winner %>
 <% console.log(winner[temp]);%>
<% %>
<% }} %>

<% var t=0;%>
<% for(let count=0;count<rounds.length;count++){ %>
 <% if(pid==rounds[count].tid && rounds[count].roundno==1 && rounds[count].matchno<2 ){ %>
 <div>
<form class="form" method="post">
<div>Click here to ubdate bout1 for round3</div>
<input type="hidden" name="roundno" value="3">
<input type="hidden" name="matchno" value=1>
<input type="hidden" name="p1" value="<%=winner[0]%>">
<input type="hidden" name="p2" value="<%=winner[1]%>">
<input type="hidden" name="tid" value="<%rounds[count].tid %>">
 <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i>Update Bout<%=rounds[count].matchno%></button>
</form>
</div>
<%t=t+2;%>
<%}}%>


<% include ../partials/footer.ejs %>