<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-0 col-md-4">
          <h3 style="color:white;margin:0 auto;">Tournament List </h3>
         
          <br>
          <table class="table table-bordered table-striped table-hover">
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Description</th>
              <th class="text-center">Owner</th>
              <th class="text-center">Completed</th>
               <th class="text-center">Rounds</th>
              <th class="text-center">Round1</th>
              <th class="text-center">Round2</th>
              <th class="text-center">Round3</th>
              <th class="text-center">Register Players</th>
              <th class="text-center">Players List</th>
              <th class="text-center">Delete</th>
            </tr>
            <!-- Template Row -->
            <% for (let count = 0; count < tournaments.length; count++) { %>
            <tr>
            <% if(tournaments[count].displayname==displayName){ %>
              <td class="text-center"><%= tournaments[count].name %></td>
              <td class="text-center"><%= tournaments[count].description %></td>
              <td class="text-center"><%= tournaments[count].displayname %></td>
               <td class="text-center"><%= tournaments[count].completed %></td>
               <td class="text-center">
               
              <a href="/rounds/<%= tournaments[count]._id %>" class="btn btn-primary">
              <i class="fa fa-pencil-square-o"></i>Rounds</a>
               </td>
               <td class="text-center">
              <a href="/rounds1/<%= tournaments[count]._id %>" class="btn btn-primary">
              <i class="fa fa-pencil-square-o"></i>Round1</a>
               </td>
               <td class="text-center">
              <a href="/rounds2/<%= tournaments[count]._id %>" class="btn btn-primary">
              <i class="fa fa-pencil-square-o"></i>Round2</a>
               </td>
               <td class="text-center">
              <a href="/rounds3/<%= tournaments[count]._id %>" class="btn btn-primary">
              <i class="fa fa-pencil-square-o"></i>Round3</a>
               </td>
               
              <td class="text-center">

              <a href="/tournaments/<%= tournaments[count]._id %>" class="btn btn-primary">
              <i class="fa fa-pencil-square-o"></i> Register Players</a>
               </td>
                 <td class="text-center">
                 <% if(tournaments[count].completed=="no"){ %>
              <a href="/players/<%= tournaments[count]._id %>" class="btn btn-primary">
              <i class="fa fa-pencil-square-o"></i> Player List</a>
               <% } %>
               </td>
              <td class="text-center">
              <a href="/tournaments/delete/<%= tournaments[count]._id %>" class="btn btn-danger">
              <i class="fa fa-trash-o"></i> Delete</a>
              </td>
            </tr>
            <% }} %>
          </table>
           <a href="/tournaments/add" class="btn btn-primary"><i class="fa fa-plus"></i> Start a Tournament</a>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>